{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'atp/reset.css' %}">
    <link rel="stylesheet" href="{% static 'atp/style.css' %}">
    <title>Index</title>
</head>
<body>
    <header class="header">
        <span class="tagline">ATP Django</span>
    </header>
    <main class="container">
        <section class="section-user-display">
            <figure class="atp-image">
                <img src="{% static 'atp/images/cajero.gif' %}">
            </figure>
            <div class="money-tag">
                <p>Introduce la cantidad de dinero deseada:</p>
                <br>
                <span>$</span><span id="digital_number" name="digital_number">{{ transaction.amount }}</span>
                <br>
                <span hidden>Status: </span><span hidden>{{ transaction.status }}</span>
                <br>
            </div>
        </section>
        <section class="section-forms">
            <form class="atp-buttons" id="atp-numbers">
                <input type="button" value="1" name="number-1" id="number-1">
                <input type="button" value="2" name="number-2" id="number-2">
                <input type="button" value="3" name="number-3" id="number-3">
                <br>
                <input type="button" value="4" name="number-4" id="number-4">
                <input type="button" value="5" name="number-5" id="number-5">
                <input type="button" value="6" name="number-6" id="number-6">
                <br>
                <input type="button" value="7" name="number-7" id="number-7">
                <input type="button" value="8" name="number-8" id="number-8">
                <input type="button" value="9" name="number-9" id="number-9">
                <br>
                <input type="button" value="0" name="number-0" id="number-0">
            </form>
            <form action="{% url 'atp:request' %}" method='POST' class="atp-buttons" id="atp-delete-submit">
                {% csrf_token %}
                <input type="number" name="digital_number" id="number_box" value="{{ transaction.amount }}" hidden>
                <input type="button" value="Borrar" id="delete" name="delete">
                <input type="submit" value="Solicitar" id="submit" name="submit">
            </form>
        </section>
    </main>
    <footer class="footer">
        <span>AndresFlamel</span>
        <span>andres.sanchez.cloud@gmail.com</span>
        <span>AndresStark</span>
    </footer>
    <script src="{% static 'atp/index.js' %}"></script>
</body>
</html>