{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundoooo</h1>
    <header>
        <span class="header-span-title">Transacción Exitosa</span>
        <span class="header-span-number">{{ form.cleaned_data.digital_number }}</span>
    </header>
    <main>
        <section>
            <form action="{% url 'atp:index' %}" class="section-form-return">
                <input type="submit" value="Regresar" class="form-input-return">
            </form>
        </section>
    </main>
</body>
</html>